<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Listing</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new_listing.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<%- include('partials/_header') %>

  <body>
    <div class="container outer-form">

      <div class="row">
        <div class="col">
          <h2>New Listing</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="container form">
            <form action="/listings" method="POST">

              <div class="row">
                <div class="col label">
                  <label for="title">Title:</label>
                </div>
                <div class="col">
                  <input type="text" name="title">
                </div>
              </div>

              <div class="row">
                <div class="col label">
                  <label for="imageURL">Image URL:</label>
                </div>
                <div class="col">
                  <input type="text" name="imageURL">
                </div>
              </div>

              <div class="row">
                <div class="col label">
                  <label for="price">Price:</label>
                </div>
                <div class="col">
                  <input type="text" name="price">
                </div>
              </div>

              <div class="row">
                <div class="col label">
                  <label for="description">Description:</label>
                </div>
                <div class="col">
                  <textarea name="description" rows="4" cols="21"></textarea>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">List!</button>
        </div>
      </div>
      </form>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>
