  h1 {
    text-align: center;
  }

  .image-container {
    height: 125px;
    display: flex;
    width: 200px;
    justify-content: center;
  }

  .list_image {
    border-radius: 5px;
    height: 100%;
    max-width: 100%;
    border: 1px #777 solid;
  }


.listing {
  border: 1px #777 solid;
  display:flex;
  background-color: burlywood;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 5px;

  .col {
    // width: 20%;
    align-self: center;
    justify-self: center;
  }
}


