h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.message {
  background-color: rgb(197, 197, 197);
  margin: 10px;
  padding: 5px 10px;;
  border-radius: 5px;
  border: 1px #777 solid;

  p {
    border-radius: 5px;
    border: 1px #777 solid;
    padding: 10px;
    background-color: #EEE;
  }

  form {
    display: flex;
    margin-bottom: 10px;
  }

  textarea {
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    width:100%;
    background-color: #EEE;

  }


}

.message-text {
  background-color: rgb(184, 184, 184)
}
