h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.message {
  background-color: rgb(197, 197, 197);
  margin: 10px;
  padding: 5px 10px;;
  border-radius: 5px;

  p {
    padding: 10px 5px;
    background-color: #DDD;
  }
}

.message-text {
  background-color: rgb(184, 184, 184)
}
