h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  textarea {
    resize: none;
    outline: none;
    width:fit-content;
  }

  .row {
    margin: 5px 0px;

    .label {
      text-align: end;
    }
  }

}

.outer-form {

  button {
    margin: 10px 50%;
  }
}
